<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>
        {{TitlePage}}
    </title>
</head>
<body>
    {{> header}}
    <p><a href="{{list}}">{{list}}</a></p>
    {{> footer}}
</body> 
</html>
